apiVersion: apps/v1
kind: Deployment
metadata:
  name: essafwa-admin
  labels:
    app: essafwa-admin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: essafwa-admin
  template:
    metadata:
      labels:
        app: essafwa-admin
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
      - name: essafwa-admin
        image: ghcr.io/mohamedsalem66/essafwa-admin:0.1-SNAPSHOT
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 30

---

apiVersion: v1
kind: Service
metadata:
  name: essafwa-admin
spec:
  ports:
  - port: 80
    targetPort: 3000
  selector:
    app: essafwa-admin
